{{log @model}}
<form> 
<div class="ml-5">
    {{#if @add}}
        <h1 class="text-center mt-5 mb-5 ">Add Employee</h1>
    {{else}}
        <h1 class="text-center mt-5 mb-5 ">Edit Employee</h1>
    {{/if}}
<div class="d-flex w-75">
<div class="d-flex m-5 flex-column w-25 ">
{{#if @add}}
    <label for="eId">Employee ID:</label>
    <Input data-text-field @type="number" name="eId" id="eId" @value={{@model.eId}} min="1" {{on "change" this.updateData}} class="mb-4" /> 
{{else}}
    <label for="eId">Employee ID:</label>
    <Input data-text-field @type="number" name="eId" id="eId" @value={{@model.eId}} min="1" disabled {{on "change" this.updateData}} class="mb-4" /> 
{{/if}}
{{#if this.ID}}
    <p class="text-danger">{{this.ID}}</p>
{{/if}}
{{#if this.existingId}}
    <p class="text-danger">{{this.existingId}}</p>
{{/if}}
<label for="firstname">First Name:</label>
<Input data-text-field @type="text" name="firstname" id="firstname" maxlength="15" @value={{@model.firstname}} {{on "change" this.updateData}} class="mb-4"/>
<label for="lastname">Last Name:</label>
<Input data-text-field @type="text" name="lastname" id="lastname" maxlength="15" @value={{@model.lastname}} {{on "change" this.updateData}} class="mb-4"/>
<label for="email">Email:</label>
<Input data-text-field @type="email" name="email" id="email" maxlength="30" @value={{@model.email}} {{on "change" this.updateData}} class="mb-4"/>
{{#if this.existingEmail}}
     <p class="text-danger">{{this.existingEmail}}</p>
{{/if}}
</div>
<div class="d-flex m-5 flex-column w-25 ">
<label for="dob">Date of Birth:</label>
<Input data-text-field @type="date" name="dob" id="dob" @value={{@model.dob}} max="2005-12-31" {{on "change" this.updateData }} class="mb-4"/>
<label for="age">Age:</label>
<Input data-text-field @type="number" name="age" id="age" @value={{@model.age}} min="18" {{on "change" this.updateData}} class="mb-4"/>
{{#if this.age}}
    <p class="text-danger">{{this.age}}</p>
{{/if}}
<label for="qualification">Highest Qualification:</label>
<Input  data-text-field @type="text" name="qualification" id="qualification" maxlength="5" @value={{@model.qualification}} {{on "change" this.updateData}} class="mb-4"/>
<label for="addr">Address:</label>
<Input data-text-field @type="text" name="addr" id="addr" maxlength="25" @value={{@model.addr}} {{on "change" this.updateData}} class="mb-4"/>
</div>
<div class="d-flex m-5 flex-column w-25 ">
<label for="mobile">Mobile Number:</label>
<Input data-text-field @type="number" name="mobileNumber" id="mobile" @value={{@model.mobileNumber}} min="1000000000" {{on "change" this.updateData}} class="mb-4"/>
{{#if this.mobileDigits}}
    <p class="text-danger">{{this.mobileDigits}}</p>
{{/if}}
{{#if this.existingMobileNumber}}
    <p class="text-danger">{{this.existingMobileNumber}}</p>
{{/if}}
<label for="doj">Date of Joining:</label>
<Input data-text-field @type="date" name="doj" id="doj" @value={{@model.doj}} {{on "change" this.updateData}} class="mb-4"/>
<label for="designation">Designation:</label>
<Input data-text-field @type="text" name="designation" id="designation" maxlength="15" @value={{@model.designation}} {{on "change" this.updateData}} class="mb-4"/>
<label for="team">Team:</label>
<Input data-text-field @type="text" name="team" id="team" maxlength="15" @value={{@model.team}} {{on "change" this.updateData}} class="mb-4"/>
</div>
<div class="d-flex m-5 flex-column w-25 ">
<label for="shifttime">Shift:</label>
<Input data-text-field @type="text" name="shifttime" id="shifttime" maxlength="10" @value={{@model.shifttime}} {{on "change" this.updateData}} class="mb-4"/>
<label for="location">Office Location:</label> 
<Input data-text-field @type="text" name="location" id="location" maxlength="15" @value={{@model.location}} {{on "change" this.updateData}} class="mb-4"/>
<label for="reporting">Reporting To:</label>
<Input data-text-field @type="text" name="reporting" id="reporting" maxlength="15" @value={{@model.reporting}} {{on "change" this.updateData}} class="mb-4"/>
</div>
</div>
{{#if this.details}}
    <p class="text-danger ml-5">{{this.details}}</p>
{{/if}}
{{#if @add}}
    <button data-save-button type="button" {{on "click" this.saveData }} class="bg-success border-0 text-center ml-5 px-4 py-2 saveButton">Save</button>
{{else}}
    <button type="button" {{on "click" this.saveData }} class="bg-success border-0 text-center ml-5 px-4 py-2 saveButton">Save</button>
{{/if}}
<button data-cancel-button type="button" {{on "click" this.cancelButton}} class="bg-danger border-0 text-center ml-5 px-4 py-2 saveButton">Cancel</button>
</div>
</form>
